    <!-- Previous/next page links - only displayed on page 2+ -->
    <div class="extra-pagination inner">
        {% if page.class == 'home-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'page-template' %}
            {% include post_pagination.html %}
        {% elsif page.class == 'author-template' %}
            {% include author_pagination.html %}
        {% elsif page.class == 'tag-template' %}
            {% include tag_pagination.html %}
        {% else %}
            {% include post_pagination.html %}
        {% endif %}
    </div>

    <!-- This is the post loop - each post will be output using this markup -->
    {% for post in paginator.posts %}
    {% if post.draft == false %}
    <article class="post">
        <a class="read-more" href="{{ site.baseurl }}{{ post.url | remove: '/' }}">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>
        </header>
        
        <section class="post-excerpt">
            <p>
                {% if post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first }}
            {% else %}
                {{ post.excerpt }}
            {% endif %}</p>
        </section>
        <footer class="post-meta">
            {{ post.date | date_to_string }} | Continue Reading
        </footer>
    </a>
    </article>
    {% endif %}
    {% endfor %}

    <!-- Previous/next page links - displayed on every page -->
    {% if page.class == 'home-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
