---
layout: default
disqus: false
class: 'post-template'
---
<!-- default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
</header>

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
            <!-- <a href='{{ site.baseurl }}{{ page.about }}'>{{ site.author }}</a> -->
            
<p>{{ page.date | date_to_string }}</p>
        </header>

        <section class="post-content">

            {{ content }}

        </section>
    </article>

</main>


<!-- /post -->
